@page
@model Szilveszter_Levente_Proiect.Pages.Senders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sender</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sender.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sender.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sender.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sender.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sender?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
