@page "{id:int?}"
@model Szilveszter_Levente_Proiect.Pages.Callers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Caller[0].CallerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CallerData.Callers)
        {
            string selectedRow = "";
            if (item.ID == Model.CallerID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.CallerName)
                </td>

                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CallerData.Shipments != null)
{
    <h3>Shipments booked by selected caller</h3>
    <table class="table">

        @foreach (var item in Model.CallerData.Callers)
        {
            string selectedRow = "";
            if (item.ID == Model.CallerID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var s in item.Shipments)
                        {

                            @s.Sender.FullName @: @s.Recipient

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}

